#Ignorer tous ces fichiers:
*.aux 
*.log 
*.out 
*.toc 
*.iml
*.backup
cr_work_anthony
pu.sh
*/pu.sh
curl.sh
/util/javaFX/umlReverse/nbproject/private/
/util/javaFX/umlReverse/build/
/util/javaFX/umlReverse/dist/
/util/javaFX/adressApp/nbproject/private/
planning
/util/javaFX/structLog_tp/nbproject/private/
/umlreverse/target/
target/
target/*
/Test/nbproject/private/
/Test/build/
/Test/dist/
p.u.sh
/util/javaFX/Test/nbproject/private/
.idea/
*/.idea/
/projet/nbproject/

/documents/util/ZoomD&D/nbproject/private/
/documents/util/javaFX/melordi/build/
/documents/util/javaFX/melordi/dist/
/documents/util/javaFX/melordi/nbproject/private/
/documents/util/javaFX/testMVC/build/
/documents/util/javaFX/testMVC/dist/
/documents/util/javaFX/testMVC/nbproject/private/