.button:hover { 
    -fx-background-color: #1E90FF;
    -fx-text-fill: white;
}


.background {
    -fx-background-color: white;
}

.button{
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    
      
}

.label { 
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #573737;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );   
} 

#anchorPane { 
    -fx-background-color : #D3D3D3;       
}
 

